<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Add Question - SurveyMe</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">SurveyMe</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all/users">All Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all/surveys">All Surveys</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/survey/create">Create Survey</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="card text-center">
        <h1 class="card-header">Add Question!</h1>
        <div class="card-body">
            <div class="container">
                <form action="#" th:action="@{/question/add/{id}(id = ${surveyId})}" th:object="${question}" method="post">
                    <div class="form-group">
                        <label for="question-title">Question title</label>
                        <input
                                type="text"
                                class="form-control"
                                id="question-title"
                                placeholder="Enter question title"
                                th:field="*{question}"
                        >
                    </div>

                    <div class="form-check form-switch form-check-inline">
                        <input class="form-check-input" type="checkbox" id="required" checked disabled>
                        <label class="form-check-label" for="required">Required</label>
                    </div>
                    <div class="form-check form-switch form-check-inline">
                        <input class="form-check-input" type="checkbox" id="multiple" disabled>
                        <label class="form-check-label" for="multiple">Multiple</label>
                    </div>

                    <button type="submit" class="btn btn-primary">Add answer</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>