<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Register - SurveyMe</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">SurveyMe</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all/users">All Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all/surveys">All Surveys</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/survey/create">Create Survey</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h1>Register Now!</h1>
        <form action="#" th:action="@{/user/register}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input
                    type="text"
                    class="form-control"
                    id="username"
                    placeholder="Enter username"
                    th:field="*{username}"
                >
            </div>
            <div class="form-group">
                <label for="name">First & Last name</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Enter full name"
                    th:field="*{fullName}"
                >
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="name@example.com"
                    th:field="*{email}"
                >
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Password"
                    th:field="*{password}"
                >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>